body {
    background-color: black;
    display: flex;
    justify-content: right;
}

body #image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
}

nav {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    position: fixed;
}

  